.modal-content {
  background-color: #2b2b2b;
}

.text-field::placeholder {
  color: #2b2b2b;
  font-weight: bold;
}

.modal-content .text-field {
  outline: none;
  border: none;
  background-color: #808080;
  color: #2b2b2b;
  font-weight: bold;
  caret-color: red;
  min-height: 300px;
}

.modal-content .post-btn {
  background-color: #363636;
}

.modal-content .post-btn:focus {
  background-color: #2b2b2b;
}

.modal-content .post-btn:hover {
  color: red;
  background-color: #2b2b2b;
}

.modal-content .post-btn:disabled,
.modal-content .post-btn[disabled] {
  background-color: #323232;
  cursor: not-allowed;
  color: #212529;
  pointer-events: all !important;
}

.btn-delete-cancel:hover {
  color: red;
}
.btn-delete-cancel {
  background-color: #363636;
  color: white;
}

.btn-delete {
  background-color: transparent;
  color: white;
}
