.reset-form > label {
  color: red;
  margin-left: 2.5rem;
}
.reset-form .btn-action {
  color: whitesmoke;
  font-size: 1rem;
  bottom: 0.4rem;
  right: 6rem;
  position: absolute;
  background-color: #2b2b2b;
}

.reset-form .group {
  position: relative;
}

.reset-form > input {
  font-size: 1.2rem;
  position: relative;
  background-color: #2b2b2b;
  margin-left: 2.5rem;
  color: white;
  font-weight: bold;
  width: 80%;
  display: block;
  outline: none;
  border-radius: 7px;
}

.reset-form > input:focus {
  background-color: #2b2b2b;
}

.reset-password .btn {
  margin-left: 2.5rem;
}

.reset-password .sign-up {
  background-color: #2b2b2b;
  min-width: 600px;
  border-radius: 10px;
}

.reset-password .sign-up button:hover {
  color: red;
  background-color: #2b2b2b;
}

.reset-password .sign-up a {
  background-color: #2b2b2b;
}

.reset-password .sign-up button {
  background-color: #363636;
}
